body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    font-weight: 400;
}

button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: white;
}

button:hover,
button:focus {
    background-color: #404bbf;
}

.hero {
    background-color:#2E2F42;
    color: white;

}

.logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #2e2f42; 

}

footer .logo {
    color: #f4f4fd;
}

.logo span {
    color: #4D5AE5;
}

.team-title {
    text-align: center;
}

.team-name, 
.team-position {
    text-align: center;
}

.team-list {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-portfolio {
    text-align: center;
}

.list-portfolio {
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #2e2f42;
}

address a {
    color: #434455;
}

nav a:hover,
nav a:focus,
address a:hover,
address a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.team {
    background-color: #f4f4fd;
}

.team-list li {
    background-color: #ffffff;
}

